/* Empty. Add your own CSS if you like */


/*Aquí se pueden cambiar las dimensiones de la imagen a mostrar*/

.item-profile {
  /*width: 500px;*/
  height: 500px;
  text-align: center;
}

.item-profile .item-avatar> img:first-child {
  max-width: 450px;
  max-height: 450px;
}